.community-list > ul {
    list-style-type: none;
    font-size: 75%;
    line-height: 100%;
    font-weight: 300;
    padding-left: 3rem;
}

.community-list > ul > li {
    color: #254F56;
}

.community-list > ul > .list-title {
    color: #25BBC3;
}