.core-team-content {
    padding-top: 4vh;
}

.core-team-row {
    min-height: 75vh;
}

.team-member {
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 100%;
}

.andrew {
    top: 2%;
}

.hilary {
    top: 28%;
}

.andrew-k {
    top: 50%;
}

.ruby {
    top: 70%;
}

.bengt {
    top: 20%;
}

.emily {
    top: 50%;
}

.reiner {
    top: 70%;
}

.name {
    color: #25BBC3;
    margin-bottom: 0;
}

.description {
    color: #254F56;
}