.core-team-circle-large {
    height: 700px;
}

.core-team-circle-small {
    height: 60vh;
}

.core-team-content {
    padding-top: 4vh;
}

.core-team-large {
    min-height: 760px;
}

.core-team-small {
    display: none;
}

.team-member-large {
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 100%;
}

.andrew {
    top: 0%;
}

.hilary {
    top: 25%;
}

.andrew-k {
    top: 50%;
}

.ruby {
    top: 74%;
}

.bengt {
    top: 17%;
}

.emily {
    top: 50%;
}

.reinier {
    top: 74%;
}

.name {
    color: #25BBC3;
    margin-bottom: 0;
}

.description {
    color: #254F56;
}

@media only screen and (max-width: 1786px) {
    .core-team-large {
        display: none;
    }

    .core-team-small {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .core-team-circle-small {
        height: auto;
        width: 100%;
    }
}