body {
    font-size: 20px;
}

h1 {
    color: #FB795D;
    font-size: 190%;
    line-height: 100%;
    font-weight: bold;
}

h2 {
    color: #25BBC3;
    font-size: 190%;
    line-height: 100%;
    font-weight: bold;
}

p {
    font-size: 100%;
    line-height: 110%;
}

.row {
    margin: 0;
}

.row>div {
    padding-left: 1.7vw;
    padding-right: 0;
}

.text-panel-dark {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    margin: -1.7vw;
    padding: 1.7vw;
}

.text-panel-light {
    color: #254F56;
}

.orange-link {
    color: #FB795D;
}

.orange-link:hover {
    color: #FB795D;
}

.white-link {
    color: #FFFFFF;
}

.white-link:hover {
    color: #FFFFFF;
}

.container-fluid {
    padding: 0 8.7vw 0 7vw;
}

.content {
    background-color: #FAF8F4;
    min-height: 80vh;
    margin-bottom: 8vh;
    padding-top: 8vh;
    margin-top: 12vh;
}

.caption {
    font-size: 80%;
    color: #9AACB6;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 160%;
    }
    h2 {
        font-size: 160%;
    }
    p {
        font-size: 90%;
    }
    .content {
        margin-bottom: 15vh;
    }
    .text-panel-dark {
        margin: -3vw;
        padding: 5vw;
    }
    .caption {
        font-size: 70%;
    }
}

@media only screen and (max-width: 1690px) {
    .desktop-br {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .mobile-br {
        display: none;
    }
}