body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

h1 {
    color: #FB795D;
    font-size: 250%;
    font-weight: bold;
}

h2 {
    color: #25BBC3;
    font-size: 200%;
    font-weight: bold;
}

p {
    font-size: 125%;
}

.text-panel {
    font-weight: bold;
    padding: 0 2rem;
}

.text-panel-dark {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transform: translateY(-2rem);   
}

.text-panel-light {
    color: #254F56;
}

.orange-link {
    color: #FB795D;
}

.orange-link:hover {
    color: #FB795D;
}

.white-link {
    color: #FFFFFF;
}

.white-link:hover {
    color: #FFFFFF;
}

.contact {
    color: #9AACB6;
}

.contact a {
    color: #9AACB6;
}

.contact a:hover {
    color: #9AACB6;
}

.content {
    background-color: #FAF8F4;
    min-height: 80vh;
    padding: 8vh 5vw 0 5vw;
    margin-bottom: 8vh;
}

.footer {
    position: fixed;
    font-size: 125%;
    bottom: 0;
    width: 100%;
    padding: 0 5rem;
    height: 8vh;
    background-color: #FFFFFF;
}

.footer > .container-fluid> .row {
    height: 8vh;
}

.caption {
    font-size: 100%;
    color: #9AACB6;
}
