.dropdown-toggle::after {
    display: none;
}

.navbar {
    height: 12vh;
    padding: 0 8.7vw;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 1;
}

.nav-up {
    top: -12vh;
}

.navbar-brand-holder {
    display: table;
}

.navbar-brand {
    color: #254F56 !important;
    font-size: 175%;
    height: 12vh;
    line-height: 12vh;
    width: 26vw;
    margin-right: 1.7vw;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.navbar-brand:hover {
    color: #254F56 !important;
}

.navbar-collapse.show {
    background-color: #FFFFFF;
    position: fixed;
    top: 12vh;
    left: 0;
    width: 100%;
}

.navbar-collapse.collapsing {
    background-color: #FFFFFF;
    position: fixed;
    top: 12vh;
    left: 0;
    width: 100%;
}

.nav-item {
    height: 12vh;
    display: table;
}

.nav-link {
    color: #9AACB6 !important;
    font-size: 100%;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.navbar-toggler {
    border: none;
}

.active>.nav-link {
    color: #FB795D !important;
}

.nav-link:hover {
    color: #FB795D !important;
}

.dropdown-triangle {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 1.5vh solid transparent;
    border-right: 1.5vh solid transparent;
    border-bottom: 1.5vh solid #FB795D;
    transform: translateY(1px);
    z-index: 1;
}

.dropdown-menu {
    position: fixed;
    top: 10.5vh;
    right: 7vw;
    border: none;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    z-index: 2;
}

.dropdown-item {
    background-color: #FB795D;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding: 1rem;
}

.dropdown-item:hover {
    background-color: #fd5a35;
    color: #FFFFFF;
}

.dropdown-item+.dropdown-item {
    border-top: 1px solid white;
}

.mobile-footer {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
        background-color: rgba(0,0,0,0);
    }
    
    .dropdown>.deopdown-toggle:active {
        pointer-events: none;
    }
}

@media only screen and (max-width: 1750px) {
    .navbar-brand {
        font-size: 160%;
    }
}

@media only screen and (max-width: 1550px) {
    .navbar-brand {
        font-size: 150%;
    }
}

@media only screen and (max-width: 1450px) {
    .navbar-brand {
        font-size: 140%;
    }
}

@media only screen and (max-width: 1350px) {
    .navbar-brand {
        font-size: 130%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 390px) {
    .navbar-brand {
        font-size: 90%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 330px) {
    .navbar-brand {
        font-size: 75%;
        margin-right: 0;
    }
}