.project-wheel {
    height: 65vh;
    width: auto;
}


@media only screen and (max-width: 1360px) {
    .project-wheel {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .project-wheel {
        padding-top: 3vh;
        padding-bottom: 5vh;
    }
}